<template>
  <v-container class="pa-2">
    <h2 v-html="`${edit ? 'Edit' : 'Tambah'} Blog`" class="mb-2"></h2>
    <v-form ref="form">
      <v-text-field 
          v-model="title"
          label="Judul Blog" 
          type="text" 
          color="red lighten-2"
          :rules="titleRules"
          prepend-icon="mdi-pencil"
          counter="50"
        ></v-text-field>
        <v-textarea
          v-model="description"
          filled
          auto-grow
          no-resize
          label="Deskripsi Blog"
          :rules="descriptionRules"
          class="mt-3"
          prepend-icon="mdi-note"
        ></v-textarea>
        <div v-if="existPhoto" class="pa-1 mb-2">
          Foto Blog sekarang : <br>
          <v-img :src="$imageUrl + existPhoto" height="100%" class="mt-3"></v-img>
        </div>
        <v-file-input
          v-model="photo"
          accept="image/*"
          :label="existPhoto ? 'Klik disini untuk mengganti foto' : 'Foto Blog'"
          truncate-length="40"
          append-icon="mdi-image"
        >
        </v-file-input>
        <div class="d-flex justify-end mb-2">
          <v-btn color="orange" dark class="mr-2" :to="edit ? `/blog/${id}` : '/blogs'">Kembali</v-btn>
          <v-btn v-if="edit" color="purple" dark @click="submit(id)">Update Blog</v-btn>
          <v-btn v-else color="blue" dark @click="submit()">Buat Blog</v-btn>
        </div>
    </v-form>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import router from '../router'

  export default {
    data: () => ({
      title: '',
      description: '',
      photo: [],
      titleRules: [
        v => !!v || 'Judul harus diisi',
        v => (v && v.length <= 50) || 'Judul blog tidak boleh lebih dari 50 karakter'
      ],
      descriptionRules: [
        v => !!v || 'Deskripsi harus diisi',
      ],
      edit: false,
      id: '',
      existPhoto: ''
    }),
    
    computed: {
      ...mapGetters({
        token: 'auth/token'
      }),
    },

    methods: {
      ...mapActions({
        setAlert: 'alert/set',
      }),
      submit(id = null) {
        const valid = this.$refs.form.validate()
        if (!valid) return false
        else {
          if (id) {
            this.updateBlog(id)
          } else {
            this.createBlog()
          } 
        }
      },
      createBlog() {
        const formData = new FormData()
        formData.append('title', this.title)
        formData.append('description', this.description)

        const config = {
          method : 'POST',
          url : `${this.$apiUrl}/blog`,
          data: formData,
          headers: {
            'Authorization': 'Bearer ' + this.token
          }
        }

        this.axios(config)
        .then(response => {
          let { blog } = response.data
          if (!Array.isArray(this.photo)) {
            this.uploadImage(blog.id, true)
          } else {
            this.setAlert({
              status: true,
              color: 'success',
              text: 'Blog berhasil dibuat.'
            })
            router.push(`/blog/${blog.id}`)
          }
        })
        .catch(error => {
          console.log(error)
          this.setAlert({
            status: true,
            color: 'error',
            text: 'Blog gagal dibuat.'
          })
        })
      },
      updateBlog(id) {
        const formData = new FormData()
        formData.append('title', this.title)
        formData.append('description', this.description)

        const config = {
          method : 'POST',
          url : `${this.$apiUrl}/blog/${id}`,
          data: formData,
          headers: {
            'Authorization': 'Bearer ' + this.token
          },
          params: {
            '_method' : 'PUT',
          }
        }

        this.axios(config)
        .then(response => {
          let { blog } = response.data
          if (!Array.isArray(this.photo)) {
            this.uploadImage(blog.id, false, true)
          } else {
            this.setAlert({
              status: true,
              color: 'success',
              text: 'Blog berhasil diperbarui.'
            })
            router.push(`/blog/${blog.id}`)
          }
        })
        .catch(error => {
          console.log(error)
          this.setAlert({
            status: true,
            color: 'error',
            text: 'Blog gagal diperbarui.'
          })
        })
      },
      uploadImage(id, newBlog = false, updateBlog = false) {
        let formData = new FormData();
        formData.append('photo', this.photo)

        const config = {
          method : 'POST',
          url : `${this.$apiUrl}/blog/${id}/upload-photo`,
          data: formData,
          headers: {
            'Authorization': 'Bearer ' + this.token,
            'Content-Type': 'multipart/form-data'
          }
        }

        this.axios(config)
        .then(() => {
          this.setAlert({
            status: true,
            color: 'success',
            text: newBlog ? `Blog berhasil dibuat dan foto berhasil diupload.` : `${updateBlog ? 'Blog berhasil diperbarui dan foto' : 'Foto'} berhasil diupload.`
          })
          router.push(`/blog/${id}`)
        })
        .catch(error => {
          console.log(error)
          this.setAlert({
            status: true,
            color: 'error',
            text: 'Foto blog gagal diupload.'
          })
        })
      },
      getOneBlog(id){
        this.edit = true
        const config = {
          method : 'GET',
          url : `${this.$apiUrl}/blog/${id}`,
        }
        this.axios(config)
        .then(response => {
          let { blog } = response.data
          this.id = blog.id
          this.title = blog.title
          this.description = blog.description
          this.existPhoto = blog.photo
        })
        .catch(error => {
          console.log(error)
        })
      },
    },
    created() {
      let { id } = this.$route.params
      if (id) {
        this.getOneBlog(id)
      }
    }
  }
</script>
