<template>
  <div>
    <v-btn small text to="/blogs" class="blue--text mb-3">
      <v-icon>mdi-chevron-left</v-icon> Kembali
    </v-btn>
    <v-card v-if="blog.id" elevation="16" class="mx-4">
      <v-img :src="blog.photo ? $imageUrl + blog.photo : 'https://picsum.photos/400/200'" class="white--text" height="400px" :aspect-ratio="16/9">
      </v-img>
      <v-card-text>
        <div class="d-flex justify-space-between">
          <h1 class="my-3 black--text"> {{ blog.title }} </h1>
            <div v-if="!guest">
            <v-menu bottom right transition="slide-y-transition">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item class="cursor-pointer" @click="edit(blog.id)">
                  <v-list-item-title><v-icon class="pr-2">mdi-pen</v-icon> Edit Blog</v-list-item-title>
                </v-list-item>
                <v-list-item class="cursor-pointer" @click="destroy(blog.id)">
                  <v-list-item-title><v-icon class="pr-2">mdi-trash-can</v-icon> Hapus Blog</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </div>
        <p> {{ blog.description }} </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import router from '../router'

  export default {
    data: () => ({
      blog: {},
    }),

    computed: {
      ...mapGetters({
        guest: 'auth/guest',
        token: 'auth/token'
      }),
    },

    methods : {
      ...mapActions({
        setAlert: 'alert/set',
      }),
      go(){
        let { id } = this.$route.params
        const config = {
          method : 'GET',
          url : `${this.$apiUrl}/blog/${id}`,
        }
        this.axios(config)
        .then(response => {
          let { blog } = response.data          
          this.blog = blog
        })
        .catch(error => {
          console.log(error)
        })
      },

      edit(id){
        router.push(`/blog/edit/${id}`)
      },

      destroy(id){
        const config = {
          method : 'POST',
          url : `${this.$apiUrl}/blog/${id}`,
          headers: {
            'Authorization': 'Bearer ' + this.token
          },
          params: {
            '_method' : 'DELETE',
          },
        }
        this.axios(config)
        .then(() => {
          this.setAlert({
            status: true,
            color: 'success',
            text: 'Blog berhasil dihapus.'
          })
          router.push('/blogs')
        })
        .catch(error => {
          console.log(error)
          this.setAlert({
            status: true,
            color: 'error',
            text: 'Blog gagal dihapus.'
          })
        })
      },
    },
    created(){
      this.go()
    }
  }
</script>

<style scoped>
  .cursor-pointer {
    cursor: pointer;
  }
</style>