<template>
  <v-snackbar v-model="alert" :color="color" top elevation="24px" timeout="2500" multi-line>
    {{ text }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'AlertSnackbar',

    computed: {
      ...mapGetters({
        status: 'alert/status',
        text: 'alert/text',
        color: 'alert/color'
      }),
      alert: {
        get() {
          return this.status
        },
        set(value) {
          this.setAlert({
            status: value,
          })
        }
      }
    },

    methods: {
      ...mapActions({
        setAlert: 'alert/set'
      }),
      close() {
        this.setAlert({
          status: false,
        })
      }
    }
  }
</script>
