<template>
  <v-card>
    <v-toolbar dark color="success">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>

    <div class="pa-6">
      <v-form ref="form">
        <v-text-field 
          v-model="email"
          label="Email" 
          type="email" 
          color="red lighten-2"
          required 
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field 
          v-model="password" 
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password" 
          color="red lighten-2" 
          required 
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <div class="d-flex justify-space-between">
          <h5>Belum punya akun? Registrasi <span class="blue--text" @click="toRegister" style="cursor: pointer;">disini.</span></h5>
          <v-btn color="blue" dark class="mb-2" @click="submit">Login</v-btn>
        </div>
      </v-form>
    </div>
    
    <v-divider></v-divider>
  </v-card>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    name: 'LoginDialog',
    data() {
      return {
        showPassword: false,
        email: '',
        password: ''
      }
    },
    methods: {
      ...mapActions({
        setAlert: 'alert/set',
        setToken: 'auth/setToken',
        setDialogStatus: 'dialog/setStatus',
        setDialogComponent: 'dialog/setComponent',
      }),
      toRegister() {
        this.setDialogComponent({ 'component': 'RegisterDialog' })
        this.setDialogStatus(true)
      },
      close() {
        this.$emit('closed', false)
      },
      validate(){
        return this.validateForm(this.email === '', 'Mohon isi email terlebih dahulu.') &&
                this.validateForm(this.password === '', 'Mohon isi password terlebih dahulu.')
      },
      submit(){
        if (!this.validate()) return false
        const config = {
          method: 'POST',
          url: this.$apiUrl + '/auth/login',
          data: {
            email: this.email,
            password: this.password
          }
        }

        this.axios(config)
          .then((response) => {
            this.setToken(response.data.access_token)
            this.setAlert({
              status: true,
              color: 'success',
              text: 'Login Berhasil. Selamat datang di Blogger!'
            })
            this.close()
          })
          .catch((response) => {
            console.log(response)
            this.setAlert({
              status: true,
              color: 'error',
              text: 'Login Gagal. Periksa kembali email dan password anda.'
            })
          })
      },
    }
  }
</script>