<template>
  <v-card>
    <v-toolbar dark color="cyan darken-3">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Register</v-toolbar-title>
    </v-toolbar>

    <div class="pa-6">
      <v-form ref="form">
        <v-text-field 
          v-model="email"
          label="Email" 
          type="email" 
          color="red lighten-2"
          required 
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field 
          v-model="password" 
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password" 
          color="red lighten-2" 
          required 
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-text-field 
          v-model="name"
          label="Nama" 
          type="text" 
          color="red lighten-2"
          required 
          append-icon="mdi-card-account-details"
        ></v-text-field>
        <v-file-input
          v-model="photo_profile"
          accept="image/*"
          label="Foto Profil"
          required
          truncate-length="40"
          append-icon="mdi-account-box"
        >
        </v-file-input>
        <div class="d-flex justify-space-between">
          <h5>Sudah punya akun? Login <span class="blue--text" @click="toLogin" style="cursor: pointer;">disini.</span></h5>
          <v-btn color="blue" dark class="mb-2" @click="submit">Register</v-btn>
        </div>
      </v-form>
    </div>
    
    <v-divider></v-divider>
  </v-card>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    name: 'RegisterDialog',
    data() {
      return {
        showPassword: false,
        email: '',
        password: '',
        name: '',
        photo_profile: []
      }
    },
    methods: {
      ...mapActions({
        setAlert: 'alert/set',
        setDialogStatus: 'dialog/setStatus',
        setDialogComponent: 'dialog/setComponent',
      }),
      toLogin() {
        this.setDialogComponent({ 'component': 'LoginDialog' })
        this.setDialogStatus(true)
      },
      close() {
        this.$emit('closed', false)
      },
      validate(){
        return this.validateForm(this.email === '', 'Mohon isi email terlebih dahulu.') &&
                this.validateForm(this.password === '', 'Mohon isi password terlebih dahulu.') &&
                this.validateForm(this.name === '', 'Mohon isi nama terlebih dahulu.') &&
                this.validateForm(this.photo_profile.length === 0, 'Mohon upload foto profil terlebih dahulu.')
      },
      submit(){
        if (!this.validate()) return false
        let formData = new FormData();
        formData.append('email', this.email)
        formData.append('password', this.password)
        formData.append('name', this.name)
        formData.append('photo_profile', this.photo_profile);

        const config = {
          method: 'POST',
          url: this.$apiUrl + '/auth/register',
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data"
          },
        }

        this.axios(config)
          .then(() => {
            this.setAlert({
              status: true,
              color: 'success',
              text: 'Registrasi berhasil. Silahkan login.'
            })
            this.toLogin()
          })
          .catch((response) => {
            console.log(response)
            this.setAlert({
              status: true,
              color: 'error',
              text: 'Registrasi gagal. Silahkan coba lagi.'
            })
          })
      }
    }
  }
</script>