<template>
	<v-app>
    <!-- Component Alert Snackbar -->
    <alert-snackbar/>
    <!-- Component Dialog Popup -->
    <dialog-window></dialog-window>
		<v-navigation-drawer app v-model="drawer">
			<v-list>
				<v-list-item v-if="!guest">
					<v-list-item-avatar>
						<v-img :src="user.photo_profile ? this.$imageUrl + user.photo_profile : 'https://randomuser.me/api/portraits/men/76.jpg'"></v-img>
					</v-list-item-avatar>
					<v-list-item-content>
						<v-list-item-title> {{ user.name }} </v-list-item-title>
					</v-list-item-content>
				</v-list-item>

				<v-divider></v-divider>

				<v-list-item v-for="(item, index) in menus" :key="`menu-${index}`" :to="item.route">
					<v-list-item-icon>
						<v-icon left>{{ item.icon }}</v-icon>
					</v-list-item-icon>
					<v-list-item-content>
						<v-list-item-title left>{{ item.title }}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
        <v-list-item v-if="!guest" :to="'/blog/create'">
          <v-list-item-icon>
						<v-icon left>mdi-plus</v-icon>
					</v-list-item-icon>
					<v-list-item-content>
						<v-list-item-title left>Buat Blog</v-list-item-title>
					</v-list-item-content>
        </v-list-item>
			</v-list>

			<template v-slot:append>
        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-login-variant</v-icon>
            Login
          </v-btn>
          <v-btn block color="success" @click="register">
            <v-icon left>mdi-account-plus</v-icon>
            Register
          </v-btn>
        </div>

				<div class="pa-2" v-else>
					<v-btn block color="red" dark @click="logout">
						<v-icon left>mdi-logout-variant</v-icon>
						Logout
					</v-btn>
				</div>
			</template>
		</v-navigation-drawer>

		<v-app-bar app color="indigo darken-4" dark elevate-on-scroll>
			<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
			<v-toolbar-title>Blogger</v-toolbar-title>
			<v-spacer></v-spacer>
      <div v-if="!guest">
        <v-menu bottom left transition="slide-y-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn dark icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item style="cursor: pointer;" :to="'/blog/create'">
              <v-list-item-title><v-icon class="pr-2">mdi-plus</v-icon> Buat Blog</v-list-item-title>
            </v-list-item>
            <v-list-item style="cursor: pointer;" @click="logout">
              <v-list-item-title><v-icon class="pr-2">mdi-logout-variant</v-icon> Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
		</v-app-bar>

		<v-main>
			<v-container fluid>
				<v-slide-y-transition>
					<router-view></router-view>
				</v-slide-y-transition>
			</v-container>
		</v-main>

		<v-footer app>
			@kelompok-2 | VueJS
		</v-footer>
	</v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import router from './router';

export default {
	name: 'App',

	data: () => ({
		drawer : true,
		menus: [
			{ title : 'Home', icon : 'mdi-home', route : '/' },
			{ title : 'Blogs', icon : 'mdi-post', route : '/blogs' },
		]
	}),

  components: {
    AlertSnackbar : () => import('./components/Alert.vue'),
    DialogWindow: () => import('./components/Dialog.vue'),
  },

  methods: {
    login() {
      this.setDialogComponent({ 'component': 'LoginDialog' })
      this.setStatus(true)
    },

    register() {
      this.setDialogComponent({ 'component': 'RegisterDialog' })
      this.setStatus(true)
    },

    logout() {
      const config = {
        method: 'POST',
        url: this.$apiUrl + '/auth/logout',
        headers: {
          'Authorization': 'Bearer ' + this.token
        }
      }
      this.axios(config)
        .then(() => {
          this.setToken('')
          this.setUser({})
          this.setAlert({
            status: true,
            color: 'success',
            text: 'Logout Berhasil.',
          })
          router.push('/')
        })
        .catch((response) => {
          console.log(response)
          this.setAlert({
            status: true,
            color: 'error',
            text: 'Logout Gagal. Silahkan coba lagi',
          })
        })
    },

    ...mapActions({
      setAlert: 'alert/set',
      setStatus: 'dialog/setStatus',
      setDialogComponent: 'dialog/setComponent',
      setToken: 'auth/setToken',
      setUser: 'auth/setUser',
      checkToken: 'auth/checkToken',
    }),
  },

  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    })
  },

  mounted() {
    if (this.token) {
      this.checkToken(this.token)
    }
  }
};
</script>
